name: UnitTesting

on:
  push:
    branches: [main, master, pre-release, release]
  pull_request:

jobs:
  unit-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: restore cache
        uses: actions/cache@v4
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: install dependencies
        run: pnpm install --frozen-lockfile

      - name: Unit test
        run: pnpm test

      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: coverage/
